<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Relatório de lançamentos por pessoa</h1>
    </div>

    <form [formGroup]="formulario" (ngSubmit)="gerar()">
      <div class="ui-g">
        <div class="ui-g-12">
          <label style="display: block">Vencimento</label>
          <p-calendar id="inicio" formControlName="inicio"
            dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false"
            [showIcon]="false"></p-calendar>
          até
          <p-calendar id="fim" formControlName="fim"
            dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false"
            [showIcon]="false"></p-calendar>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Gerar" style="margin-right: 5px;"
            [disabled]="formulario.invalid"></button>

          <button pButton type="button" label="Download" (click)="download()"
            [disabled]="formulario.invalid"></button>
        </div>
      </div>
    </form>

    <div class="col-ui-g">
      <pdf-viewer [src]="src"
              [original-size]="false" [fit-to-page]="true"></pdf-viewer>
    </div>
  </div>
</div>
