<div class="container">
  <div class="ui-g">

    <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input formControlName="descricao" pInputText type="text" />
      </div>

      <div class="ui-g-12">
        <label style="display: block">Vencimento</label>
        <p-calendar id="vencimentoInicio" formControlName="dataVencimentoInicio"
          dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false"
          [showIcon]="false"></p-calendar>
        até
        <p-calendar id="vencimentoFim" formControlName="dataVencimentoFim"
          dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false"
          [showIcon]="false"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton label="Pesquisar" type="submit"></button>
      </div>
    </form>

  </div>


  <div class="ui-g">
    <div class="ui-g-12">
        <p-table [value]="lancamentos" [responsive]="true"
          [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true"
          [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">

            <ng-template pTemplate="caption">
              Lista de Lançamentos
            </ng-template>

            <ng-template pTemplate="header">
              <tr>
                <th>Pessoa</th>
                <th>Descrição</th>
                <th class="col-data">Vencimento</th>
                <th class="col-data">Pagamento</th>
                <th class="col-valor">Valor</th>
                <th class="col-acoes"></th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-lancamento>
              <tr>
                <td>{{ lancamento.pessoa }}</td>
                <td>{{ lancamento.descricao }}</td>
                <td class="col-data">{{ lancamento.dataVencimento | date: 'dd/MM/yyyy' }}</td>
                <td class="col-data">{{ lancamento.dataPagamento | date: 'dd/MM/yyyy' }}</td>
                <td class="col-valor" [ngStyle]="{'color' : lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}">
                  {{ lancamento.valor | number:'1.2-2' }}
                </td>
                <td class="col-acoes">
                    <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" style="margin-right: 5px"
                      [routerLink]="['/lancamentos', lancamento.codigo]"></a>
                    <a pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                      (click)="confirmarExclusao(lancamento)"
                      ></a>
                      <!--[disabled]="!auth.temPermissao('ROLE_REMOVER_LANCAMENTO')"-->
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="6">
                       Nenhum lançamento encontrado!
                    </td>
                </tr>
            </ng-template>
          </p-table>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <a pButton label="Novo Lancamento" routerLink="/lancamentos/novo"></a>
    </div>
  </div>
</div>

