<nav>
  <div class="navbar-usuario">{{ auth.jwtPayload?.nome }}</div>
  <div class="toggle">
    <span (click)="exibindoMenu=!exibindoMenu">Menu</span>
  </div>
  <ul [ngClass]="{'active' : exibindoMenu}">
    <li *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
      <a routerLinkActive="active" routerLink="/dashboard" (click)="exibindoMenu=!exibindoMenu">Dashboard</a>
    </li>

    <li *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
      <a routerLinkActive="active" routerLink="/lancamentos">Lancamentos</a>
    </li>

    <li routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')">
      <a routerLinkActive="active" routerLink="/pessoas">Pessoas</a>
    </li>

    <li routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
      <a routerLinkActive="active" routerLink="/relatorios/lancamentos">Relatorios</a>
    </li>

    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
  </ul>

  <div style="clear: both"></div>
</nav>
