body {
	margin: 0;
	padding: 0;

  font-family: sans-serif;
  font-size: 0.8em;
}

nav {
	position: relative;
	width: 100%;
	padding: 0 100px;
	background: #7B95A3;
  box-sizing: border-box;
}

nav ul {
	position: relative;
	margin: 0;
	padding: 0;
	float: right;
}

nav ul li {
	list-style: none;
	display: inline-block;
}

nav ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-weight: bold;
}

nav ul li a.active,
nav ul li a:hover {
	color: #fff;
	background:#337ab7;
}

.navbar-usuario {
  float: left;
  margin: 0;
  padding: 20px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.toggle {
	width: 100%;
	background: #7B95A3;
	padding: 20px;
	box-sizing: border-box;
	text-align: right;
	display: none;
}

.toggle span {
	color: #337ab7;
	background: #fff;
	padding: 5px 10px;
	cursor: pointer;
	font-weight: bold;
}

@media(max-width: 961px) {
	nav {
    padding: 0;
    display: block;
  }

	nav ul {
		float: none;
		display: none;
		text-align: center;
	}

	nav ul.active {
		display: block;
	}

	nav ul li {
		display: block;
  }

	.toggle {
		display: inherit;
  }
}
