<div class="container">
  <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="salvar()">

    <div class="ui-g">

      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton id="tipo" formControlName="tipo" [options]="tipos"></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar id="vencimento" formControlName="dataVencimento"
          dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false"
          [showIcon]="false"></p-calendar>

        <app-message [control]="formulario.get('dataVencimento')" error="required" text="Informe uma data de vencimento"></app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ formulario.get('tipo').value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar id="dataPagamento" formControlName="dataPagamento"
          dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false"
          [showIcon]="false"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" id="descricao" formControlName="descricao"/>

        <app-message [control]="formulario.get('descricao')" error="obrigatoriedade"
          text="Informe uma data de vencimento"></app-message>
        <app-message [control]="formulario.get('descricao')" error="validarTamanhoMinimo"
          text="Mínimo de {{ formulario.get('descricao').errors?.tamanhoMinimo?.tamanho }} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text"
          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          placeholder="0,00" id="valor" formControlName="valor"/>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione"
          name="categoria" formControlName="codigo"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" [filter]="true" placeholder="Selecione"
          name="pessoa" formControlName="codigo" text></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" id="observacao" formControlName="observacao"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" class="ui-button-primary" style="margin-right: 5px"
          [disabled]="formulario.invalid"></button>

        <button pButton type="button" label="Novo" class="ui-button-info" style="margin-right: 5px"
          (click)="novo()"></button>

        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
</div>

<pre>{{ formulario.value | json }}</pre>
