<div class="container">
  <form (ngSubmit)="salvar()" [formGroup]="formulario" autocomplete="off">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Nova' }} Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
          <app-message [control]="formulario.get('nome')"
          error="required"
          text="Informe o nome"></app-message>
        <input pInputText type="text" id="nome" formControlName="nome" class="ng-dirty ng-invalid"/>
      </div>

      <div formGroupName="endereco">
        <div class="ui-g-12 ui-md-9 ui-fluid">
          <label>Logradouro</label>
          <input pInputText type="text" id="logradouro" formControlName="logradouro"/>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Número</label>
          <input pInputText type="text" id="numero" formControlName="numero"/>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Complemento</label>
          <input pInputText type="text" id="complemento" formControlName="complemento"/>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Bairro</label>
          <input pInputText type="text" id="bairro" formControlName="bairro"/>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>CEP</label>
          <p-inputMask mask="99.999-999" id="cep" formControlName="cep"></p-inputMask>
        </div>

        <div formGroupName="cidade">
          <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="estado">
            <label>Estado</label>
            <p-dropdown placeholder="Selecione..." [autoWidth]="true" [filter]="true"
              [options]="estados" formControlName="codigo"
              [(ngModel)]="estadoSelecionado" (onChange)="carregarCidades()"></p-dropdown>
          </div>

          <div class="ui-g-12 ui-md-6 ui-fluid">
            <label>Cidade</label>
            <p-dropdown placeholder="Selecione..." [autoWidth]="true" [filter]="true"
              [options]="cidades" formControlName="codigo"></p-dropdown>
          </div>
        </div>

      </div>

      <div class="ui-g-12">
        <p-panel header="Contatos">
          <app-pessoa-cadastro-contato [contatos]="formulario.value.contatos"></app-pessoa-cadastro-contato>
        </p-panel>
      </div>

      <div class="ui-g-12">
          <p-button [disabled]="formulario.invalid" type="submit" label="Salvar"
            style="margin-right: 5px;"></p-button>

          <p-button type="button" label="Novo" class="ui-button-info"
            (click)="novo()" style="margin-right: 5px;"></p-button>

          <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
